body
{font-family: "Gill Sans", sans-serif;
text-decoration: underline;
background-image: url("Harry-Potter-Hogwarts-castle-winter-architecture-2265070-wallhere.com.jpg"); background-repeat: no-repeat;background-size: cover;
color: rgb(248, 192, 6)

}
