body
{font-family: "Gill Sans", cursive;
text-decoration: underline;
background-image: url("Harry-Potter-Hogwarts-castle-winter-architecture-2265070-wallhere.com.jpg"); background-repeat: no-repeat;background-size: cover;
color: rgb(0, 0, 0)

}
.bouton{
    display: block;
    background-color: #f5cd49;
    border-radius: 10px;
    border: 4px double #f70404;
    color: #000000;
    text-align: center;
    font-size: 15px;
    padding: 5px;
    width: 180px;
    cursor: pointer;

}
